body {
  background-color: white;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgb(238, 255, 0);
  display: block;
  border-radius: 4px;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link .active:focus{
  color: rgb(238, 255, 0);  
}
.navbar {

  padding: 2px;
  position: fixed;
  width: 100%;
  
}
.navbar .navbar-nav .nav-link {
  border-radius: 4px;
  padding: 10px;
  transition: all .4s;
  color: white;
}
.navbar .navbar-nav #login .nav-link {
  background-color: #27a776;
  padding-right: 25px;
  padding-left: 25px;
}
.navbar .navbar-nav #login .nav-link:hover {
  background-color: #056d45;
  color: white;
}
.navbar-brand {
  font-family: 'Times New Roman', Times, serif;
}

.navbar .dropdown ul {
display: block;
position: absolute;
left: 28px;
top: calc(100% + 30px);
margin: 0;
padding: 10px 0;
z-index: 99;
opacity: 0;
visibility: hidden;
background: #fff;
transition: 0.3s;
border-radius: 4px;
}

.navbar .dropdown ul li .active {
	background-color: grey;
  }
  
.navbar .dropdown:hover>ul {
opacity: 1;
top: 100%;
visibility: visible;
}
:root {
  --color-default: black;
  --color-primary: #27a776;
  --color-secondary: whitesmoke;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

#preloader {
    display: flex;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
  }
  
  #preloader:before,
  #preloader:after {
    content: "";
    background-color: var(--color-secondary);
    position: absolute;
    inset: 0;
    width: 50%;
    height: 100%;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }
  
  #preloader:after {
    left: auto;
    right: 0;
  }
  
  #preloader .line {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 1px;
    height: 280px;
    transition: all 0.8s ease 0s;
  }
  
  #preloader .line:before {
    content: "";
    position: absolute;
    background-color: black;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    transform: translateY(-50%);
    -webkit-animation: lineincrease 1000ms ease-in-out 0s forwards;
    animation: lineincrease 1000ms ease-in-out 0s forwards;
  }
  
  #preloader .line:after {
    content: "";
    position: absolute;
    background-color: #999;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform: translateY(-100%);
    -webkit-animation: linemove 1200ms linear 0s infinite;
    animation: linemove 1200ms linear 0s infinite;
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms;
  }
  
  #preloader.loaded .line {
    opacity: 0;
    height: 100% !important;
  }
  
  #preloader.loaded .line:after {
    opacity: 0;
  }
  
  #preloader.loaded:before,
  #preloader.loaded:after {
    -webkit-animation: preloaderfinish 300ms ease-in-out 500ms forwards;
    animation: preloaderfinish 300ms ease-in-out 500ms forwards;
  }
  @-webkit-keyframes lineincrease {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
  }
  
  @keyframes lineincrease {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
  }
  
  @-webkit-keyframes linemove {
    0% {
      transform: translateY(200%);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }
  
  @keyframes linemove {
    0% {
      transform: translateY(200%);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }
  
  @-webkit-keyframes preloaderfinish {
    0% {
      width: 5 0%;
    }
  
    100% {
      width: 0%;
    }
  }
  
  @keyframes preloaderfinish {
    0% {
      width: 5 0%;
    }
  
    100% {
      width: 0%;
    }
  }
.judul {
    border-bottom: 4px solid orange;
    
    margin-top: 130px;
}

.isi .container {
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    margin-bottom: 150px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 10px rgba(127, 137, 161, 0.25);
}
#footer {
  width: 100%;
  display: inline-flex;
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  width: 100%;
  background: rgb(26, 25, 25);
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a{
  text-decoration: none;
  color: orange;
  
}
